*.yml        @kibertoad @drdaemos @CarlosGamero @lokalise/dx-guild
*.md         @kibertoad @drdaemos @CarlosGamero @lokalise/dx-guild
*.ts         @kibertoad @drdaemos @CarlosGamero @lokalise/dx-guild
package.json @kibertoad @drdaemos @CarlosGamero @lokalise/dx-guild
