*.yml        @kibertoad @rupert-mckay @lokankr @drdaemos @andris-sevcenko @dariacm @CarlosGamero
*.md         @kibertoad @rupert-mckay @lokankr @drdaemos @andris-sevcenko @dariacm @CarlosGamero
*.ts         @kibertoad @rupert-mckay @lokankr @drdaemos @andris-sevcenko @dariacm @CarlosGamero
package.json @kibertoad @rupert-mckay @lokankr @drdaemos @andris-sevcenko @dariacm @CarlosGamero
